<!-- footer part start-->
<footer class="footer" dir="rtl">
    <div>
        <div class="container">
            <div class="row align-items-center" style="padding-top: 30px;">
                <div class="col-lg-4">
                    <p class="footer-text m-0" style="white-space: nowrap; text-align: right; font-size: 12.4px;">
                        <span class="ti-location-pin" style="font-size: 1rem;"></span>
                        - أسوان - أسوان، تقسيم أرض أبو الشوك، أمام الإسعاف ، عمارة المهندسين - الدور الثاني علوي
                    </p>
                    <p class="footer-text m-0">
                        <span class="ti-location-pin"></span>- قنا - حوض عشرة، شارع البستان، بجوار الختام - الدور الثانى
                        علوي
                    </p>
                </div>
                <div class="col-lg-4">
                    <form action="#" class="subscribe mb-4 mb-lg-0">
                        <a href="#" class="m-0 p-0"><img src="/main/img/logo.png" alt="Elamsa-consult"></a>
                    </form>
                </div>
                <div class="col-lg-4">
                    <ul class="list-unstyled nav-links social nav-right">
                        <li><a href="#"><span class="ti-twitter"></span></a></li>
                        <li><a href="#"><span class="ti-instagram"></span></a></li>
                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                        <li><a href="#"><span class="ti-pinterest"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-12 text-lg-center" style="border-top: 2px solid #fff; margin-top: 10px;">
                    <p class="footer-text m-0" style="white-space: normal;">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed
                        by <a href="https://api.whatsapp.com/send?phone=0201124560051" target="_blank">Motto
                            Studio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->

<!-- jquery plugins here-->
<!-- jquery -->
<script src="/main/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/main/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/main/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/main/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/main/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/main/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/main/js/owl.carousel.min.js"></script>
<script src="/main/js/gmap3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap">
</script>
<!-- slick js -->
<script src="/main/js/slick.min.js"></script>
<script src="/main/js/gijgo.min.js"></script>
<script src="/main/js/jquery.nice-select.min.js"></script>
<!-- contact js -->
<script src="/main/js/jquery.ajaxchimp.min.js"></script>
<script src="/main/js/jquery.form.js"></script>
<script src="/main/js/jquery.validate.min.js"></script>
<script src="/main/js/mail-script.js"></script>
<script src="/main/js/contact.js"></script>
<!-- custom js -->
<script src="/main/js/custom.js"></script>
</body>

</html>