<!doctype html>
<html lang="ar">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>elmasaa</title>
    <link rel="icon" href="/main/img/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/main/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/main/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/main/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/main/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/main/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/main/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/main/css/slick.css">
    <link rel="stylesheet" href="/main/css/gijgo.min.css">
    <link rel="stylesheet" href="/main/css/nice-select.css">
    <link rel="stylesheet" href="/main/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/main/css/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="main_menu_iner">
                        <div class="logo">
                            <a href="index.html"><img src="/main/img/logo.png" alt="#"></a>
                        </div>
                        <span class="menu-trigger visible-xs">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <div class="off-canven-menu">
                            <span class="close-icon">
                                <i class="ti-close"></i>
                            </span>
                            <div class="canven-menu-warp">
                                <div class="canven-menu-iner">
                                    <ul>
                                        <li><a href="/">الرئيسية</a></li>
                                        <li><a href="/about">من نحن</a></li>
                                        <li><a href="/service">خدماتنا</a></li>
                                        <li><a href="/projects">مشاريعنا</a></li>
                                        <li><a href="/contact">اتصل بنا</a></li>
                                        <li><a href="/lang/en" style="color: #fff">English</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->